<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Tourism Pokhara</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/style2.css">
  <style>
    #map{
      height: 450px;
      width: 100%;
    }

  </style>
  </head>
  <nav class="navbar navbar-default sticky" >
    <div class="container">
      <div class="navbar-header" id="navbarNav">
        <p class="navbar-brand">Tourism Pokhara</p>
        
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home" class="nav-item"><a class="nav-link" href="/home">HOME</a></li>
          <li id="about" class="nav-item"><a class="nav-link" href="/about">MAPS</a></li>
          <li id="contact" class="nav-item" ><a class="nav-link" href="/contact">CONTACT US</a></li>
          <li id="gallery" class="nav-item" ><a class="nav-link" href="/gallery">GALLERY</a></li>
          <li id="logout" title="logout" class="nav-item" ><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt fa-2x"></i></a></li>
        </ul>
    </div>
  </nav>

  <body>
    

