<%- include("partials/header")%>
    <div class="container1">
	<div class = "myDiv"> 
	
	 <div class="arrange"> Name:Rajeev Baniya <br>
	 Address: Pokhara <br>
	contact number:9805832174 <br>
    email-id :rajeevbaniya11@gmail.com<br>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
	</div>
	 
	<img src="/images/rajiv.jpg" alt="photo of Rajeev" class="image"> 
	
	</div>

	<div class = "myDiv"> 
	<div class="arrange"> Name:Milan Khatioda <br>
	 Address: Pokhara <br>
	contact number:9805832909 <br>
    email-id : milankhatioda11@gmail.com <br>
    <a href="https://www.facebook.com/search/top?q=milan%20khatiwada" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
	</div>
	
	<img src="/images/milan.jpg" alt="photo of Milan" class="image">
	</div>
	

	<div class = "myDiv">
	<div class="arrange"> Name: Sugat Bhusan Udas<br>
	 Address: Pokhara <br>
	contact number:9805832188 <br>
    email-id : zittyudas1245@gmail.com<br>
    <a href="www.facebook.com"><i class="fab fa-facebook-square fa-2x"></i></a>
    <a href="www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
	</div>
	
	<img src="/images/zity.jpg" alt="photo of ZIty" class="image" >
    </div>
    
    <div class = "myDiv">
        <div class="arrange"> Name: Sushil Lamichhane<br>
         Address: Pokhara <br>
        contact number:9805532188 <br>
        email-id : sushilame12@gmail.com<br>
        <a href="www.facebook.com"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
        
        <img src="/images/sushil.jpg" alt="photo of sushil" class="image" >
        </div>
        </div>

<%- include("partials/footer")%>