<%- include("partials/header")%>
<div class="container2">
<div class="responsive">
    <div class="gallery">
        <a href="/images/phewa-lake.jpg"> 
            <img src="/images/phewa-lake.jpg" alt="phewa-lake" height="300" width="300" />
            <div class="desc">Phewa-lake, Pokhara</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="https://www.welcomenepal.com/uploads/activity/paragliding-in-nepal.jpeg"> 
            <img src="https://www.welcomenepal.com/uploads/activity/paragliding-in-nepal.jpeg" alt="phewa-lake" height="300" width="300">
            <div class="desc">Paraglyding in Pokhara.</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="https://pokhara-guide.com/wp-content/uploads/2019/05/Begnas-Lake-Moutain-view.jpg"> 
            <img src="https://pokhara-guide.com/wp-content/uploads/2019/05/Begnas-Lake-Moutain-view.jpg" alt="phewa-lake" height="300px" width="300px">
            <div class="desc">Begnas Lake, Pokhara</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="https://www.pokharatour.com/wp-content/uploads/2017/10/pokhara-bunjy-jump.jpg"> 
            <img src="https://www.pokharatour.com/wp-content/uploads/2017/10/pokhara-bunjy-jump.jpg" alt="phewa-lake" height="300" width="300">
            <div class="desc">Bungee jump, Hemja, Pokhara</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="https://www.vivaanadventure.com/wp-content/uploads/2019/01/45613398_643060039422306_7554389982337564672_n-1080x540.jpg"> 
            <img src="https://www.vivaanadventure.com/wp-content/uploads/2019/01/45613398_643060039422306_7554389982337564672_n-1080x540.jpg" alt="phewa-lake" height="300" width="300">
            <div class="desc">Bindabasini Temple, Pokhara</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="/images/phewa-lake.jpg"> 
            <img src="/images/phewa-lake.jpg" alt="phewa-lake" height="300" width="300">
            <div class="desc">Phewa-lake, Pokhara</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="https://mynepaltrek.com/wp-content/uploads/2018/06/mahendra-cave-tunnel.jpg"> 
            <img src="https://mynepaltrek.com/wp-content/uploads/2018/06/mahendra-cave-tunnel.jpg" alt="phewa-lake" height="300" width="300">
            <div class="desc">Mahendra cave, Pokhara</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="https://www.travelhousenepal.com/wp-content/uploads/2018/05/Zip_Banner1.jpg"> 
            <img src="https://www.travelhousenepal.com/wp-content/uploads/2018/05/Zip_Banner1.jpg" alt="phewa-lake" height="300" width="300">
            <div class="desc">Zip flying, Pokhara</div>
    </div>
</div>
<div class="responsive">
    <div class="gallery">
        <a href="https://www.holidify.com/images/cmsuploads/compressed/Shanti_Stupa_Pokhara_20190128111506.JPG"> 
            <img src="https://www.holidify.com/images/cmsuploads/compressed/Shanti_Stupa_Pokhara_20190128111506.JPG" alt="phewa-lake" height="300" width="300">
            <div class="desc">Shanti Stupa, Pokhara</div> 
    </div> 
</div> 
</div> 



<%- include("partials/footer")%>